Django==5.0.4
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-environ==0.11.2
psycopg[binary]==3.1.18
gunicorn==21.2.0
jsonschema==4.21.1
Pint==0.23
celery==5.4.0
redis==5.0.4
pytest==8.1.1
pytest-django==4.8.0
